streamlit
langchain
huggingface_hub
python-dotenv
langchain-community
langchain_community
langchain-huggingface
transformers
torch
sentencepiece
accelerate>=0.26.0
langgraph
langchain-core
requests
pymongo
pydantic
st-mongo-connection>=1.0.0
certifi>=2023.11.17